<!DOCTYPE html>
<html>
<head>
  <%= render file: 'partials/head' %>
  <base href="/admin/">
</head>
<body>

<div ng-app="effects" ng-controller="AdminCtrl">
  <div class="site" id="content">
    <div class="menu">
      <ul>
        <li ui-sref-active="active" ui-sref="admin.pages">Страницы</li>
        <li ui-sref-active="active" ui-sref="admin.videos">Видео</li>
        <li ui-sref-active="active" ui-sref="admin.contributedLinks">Ссылки</li>
        <li ui-sref-active="active" ui-sref="admin.options">Настройки</li>
      </ul>
    </div>
    <article class="list">
      <div class="bg"></div>
      <div ui-view="main" class="container">
        <p>some admin shit</p>  
      </div>
    </article>
  </div>


  <script type="application/javascript">
    angular.module('effects')
      .factory('$preload', function(){
        return {
          pages: <%= raw(@pages.to_json) %>,
          videos: <%= raw(@videos.to_json) %>,
          contributedLinks: <%= raw(@contributed_links.to_json) %>
        };
      });
  </script>

  <script type="text/ng-template" id="pages.html">
    <%= render file: 'admin/partials/pages' %>
  </script> 

  <script type="text/ng-template" id="videos/index.html">
    <%= render file: 'admin/partials/videos/index' %>
  </script> 

  <script type="text/ng-template" id="videos/list.html">
    <%= render file: 'admin/partials/videos/list' %>
  </script> 

  <script type="text/ng-template" id="options.html">
    <%= render file: 'admin/partials/options' %>
  </script> 

  <script type="text/ng-template" id="contributed.html">
    <%= render file: 'admin/partials/contributed' %>
  </script> 
</div>

</body>
</html>