<!DOCTYPE html>
<html>
<head>
  <%= render file: 'partials/head' %>
</head>

<body ng-app="effects.home"
      ng-controller="MainCtrl"
      ng-class="{'no-scroll': menuVisible && !isDesktop, 
                 loaded: loaded}"
                 >

  <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>

  <article class="site" id="content">

    <div class="menu-container" ng-class="{'no-scroll': !menuVisible}">
      <div class="menu-mobile">
        <span ng-click="menuVisible = !menuVisible" class="glyphicon glyphicon-th">Меню</span>
        <div ng-click="menuVisible = false" class="close glyphicon glyphicon-remove fx-fade-normal fx-speed-250" ng-show="menuVisible"></div>
      </div> 

      <div ng-show="isDesktop || menuVisible" class="menu fx-fade-normal fx-speed-250">
        <nav>
          <ul>
            <li ng-repeat="page in pages" ng-class="{ 'active': page.id === clickedPage.id }">                            
              <a ng-href="#/{{page.slug}}">
                <span>{{ page.title }}</span>
                {{ page.title }}
              </a>            
            </li>
          </ul>
        </nav>

        <section class="login-block">
          <% if user_signed_in? %>
            <span>Здравствуйте, <%= current_user.username %></span>
            <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to 'Войти', new_user_session_path %>
          <% end %>
        </section>

        <section class="form-container" ng-controller="videoFormCtrl" ng-click="$event.stopPropagation();">
          <div class="send-video" ng-show="!isShowForm">
            <div class="button-show-tooltip">
              Отправить ссылку на эффект
            </div>
            <div class="glyphicon glyphicon-plus button-show-form" ng-click="isShowForm = true"></div>
          </div>
          <div class="form fx-fade-normal fx-speed-250" ng-show="isShowForm">                      
            <form action="">              
              <div class="close glyphicon glyphicon-remove" ng-click="isShowForm = false"></div>
              <label>Отправить ссылку на эффект</label>
              <input type="text" ng-model="send.link" ng-change="validateForm()" value="" />  
              <input type="submit" value="Отправить" ng-click="sendForm()" ng-class="{'active':validateForm()}" />
            </form>
          </div>
        </section>

      </div>
    </div>

    <main class="list" role="main">
        <div class="bg"></div>
        <div class="container">
            <div class="block-list">

              <section class="block">
                <div class="row">

                  <div ng-repeat="video in videos | onlyPage:currentPage" class="col-item">
                    <a href="{{ video.url }}" target=_blank>
                      <div class="content">
                        <figure data-effeckt-type="quarter-fall-in" class="effeckt-caption">
                          <figcaption>
                            <div class="effeckt-figcaption-wrap">{{ video.title }}</div>
                          </figcaption>
                          <video-webm url="video.file_url"></video-webm>
                        </figure>
                      </div>
                    </a>
                  </div>
                  
                  <div ng-show="(videos | onlyPage:currentPage).length <= 0">
                    <p>No content here yet.</p>
                  </div>
                  
                </div>
              </section>
            </div>

        </div>
    </main>
  </article>

  <script type="application/javascript">
    angular.module('effects.home')
      .factory('$preload', function(){
        return {
          pages: <%= raw(@pages.to_json) %>,
          videos: <%= raw(@videos.to_json) %>
        };
      });
  </script>


</body>
</html>