<div ng-app="effects.home" ng-controller="MainCtrl" ng-class="{loaded: loaded}">

  <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>

    <div class="site" id="content">

        <div class="menu-container">
            <div class="menu-mobile">
              Меню
              <div class="close">X</div>
            </div>      
          <div class="menu">
          <ul>
            <li>
              <a href="#/all">Все</a>
            </li>
            <li ng-repeat="pageOne in pages" ng-class="{ 'active': clickedPage.id === pageOne.id }">                
              <a ng-href="#/{{pageOne.slug}}">{{ pageOne.title }}</a>            
            </li>
          </ul>

          <% if user_signed_in? %>
              <div class="login-block">
                <span>Здравствуйте, <%= current_user.username %></span>
                <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
              </div>
          <% else %>
              <div class="login-block">
                <%= link_to 'Войти', new_user_session_path %>
              </div>
          <% end %>

          </div>
        </div>
        <article class="list">
            <div class="bg"></div>
            <div class="container">
                <div class="block-list">

                  <div class="block">
                    <div class="row">

                      <div ng-repeat="video in videos | onlyPage:page" class="col-item">
                        <a href="{{ video.url }}" target=_blank>
                          <div class="content">
                            <figure data-effeckt-type="quarter-fall-in" class="effeckt-caption">
                              <figcaption>
                                <div class="effeckt-figcaption-wrap">{{ video.title }}</div>
                              </figcaption>
                              <video-webm filename="video.filename"></video-webm>
                            </figure>
                          </div>
                        </a>
                      </div>
                      
                      <div ng-show="(videos | onlyPage:page).length <= 0">
                        <p>No content here yet.</p>
                      </div>
                      
                    </div>
                  </div>
                </div>

            </div>
        </article>
    </div>

  <script type="application/javascript">
    angular.module('effects.home')
      .factory('$preload', function(){
        return {
          pages: <%= raw(@pages.to_json) %>,
          videos: <%= raw(@videos.to_json) %>
        };
      });
  </script>
</div>