<!DOCTYPE html>
<html ng-app="effects">
<head>
  <title>Effects</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= csrf_meta_tags %>

  <!--[if (gte IE 6)&(lte IE 8)]>
  <script type="text/javascript" src="assets/javascripts/selectivizr-min.js"></script>
  <![endif]-->
  <base href="/">
</head>

<body ng-controller="MainCtrl"
      ng-class="{'no-scroll': menuMobileVisible, 
                 loaded: loaded }">

  <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  
  <div ui-view="main"></div>


  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  
  <script type="application/javascript">
    angular.module('effects.preload', [])
      .provider('$preload', function(){
        return {
          $get: function(){
            return {
              taxonomies: <%= raw(@taxonomies.to_json) %>,
              videos: <%= raw(@videos.to_json) %>
            }
          }
        };
      });
  </script>

</body>
</html>